---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=irvine,co&key=<GOOGLE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Los Angeles, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "550",
                       "short_name" : "550",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Newport Center Drive",
                       "short_name" : "Newport Center Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Newport Center",
                       "short_name" : "Newport Center",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
   [...]
