---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&lat=33.72&lon=-117.83&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.72,"lon":-117.83,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591749456,"sunrise":1591706428,"sunset":1591758070,"temp":91.11,"feels_like":79.84,"pressure":1014,"humidity":8,"dew_point":22.87,"uvi":10.51,"clouds":20,"visibility":16093,"wind_speed":11.41,"wind_deg":250,"wind_gust":18.34,"weather":[{"id":711,"main":"Smoke","description":"smoke","icon":"50d"}]},"minutely":[{"dt":1591749480,"precipitation":0},{"dt":1591749540,"precipitation":0},{"dt":1591749600,"precipitation":0},{"dt":1591749660,"precipitation":0},{"dt":1591749720,"precipitation":0},{"dt":1591749780,"precipitation":0},{"dt":1591749840,"precipitation":0},{"dt":1591749900,"precipitation":0},{"dt":1591749960,"precipitation":0},{"dt":1591750020,"precipitation":0},{"dt":1591750080,"precipitation":0},{"dt":1591750140,"precipitation":0},{"dt":1591750200,"precipitation":0},{"dt":1591750260,"precipitation":0},{"dt":1591750320,"precipitati[...]
