---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&lat=33.72&lon=-117.83&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.72,"lon":-117.83,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1592148325,"sunrise":1592138425,"sunset":1592190190,"temp":65.75,"feels_like":65.37,"pressure":1013,"humidity":68,"dew_point":54.91,"uvi":9.58,"clouds":1,"visibility":16093,"wind_speed":3.36,"wind_deg":120,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1592148360,"precipitation":0},{"dt":1592148420,"precipitation":0},{"dt":1592148480,"precipitation":0},{"dt":1592148540,"precipitation":0},{"dt":1592148600,"precipitation":0},{"dt":1592148660,"precipitation":0},{"dt":1592148720,"precipitation":0},{"dt":1592148780,"precipitation":0},{"dt":1592148840,"precipitation":0},{"dt":1592148900,"precipitation":0},{"dt":1592148960,"precipitation":0},{"dt":1592149020,"precipitation":0},{"dt":1592149080,"precipitation":0},{"dt":1592149140,"precipitation":0},{"dt":1592149200,"precipitati[...]
