---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&lat=39.74&lon=-104.99&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1592149059,"sunrise":1592134287,"sunset":1592188164,"temp":77.27,"feels_like":73.11,"pressure":1002,"humidity":31,"dew_point":44.31,"uvi":10.68,"clouds":5,"wind_speed":5.01,"wind_deg":119,"wind_gust":13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1592149080,"precipitation":0},{"dt":1592149140,"precipitation":0},{"dt":1592149200,"precipitation":0},{"dt":1592149260,"precipitation":0},{"dt":1592149320,"precipitation":0},{"dt":1592149380,"precipitation":0},{"dt":1592149440,"precipitation":0},{"dt":1592149500,"precipitation":0},{"dt":1592149560,"precipitation":0},{"dt":1592149620,"precipitation":0},{"dt":1592149680,"precipitation":0},{"dt":1592149740,"precipitation":0},{"dt":1592149800,"precipitation":0},{"dt":1592149860,"precipitation":0},{"dt":1592149920,"precipitati[...]
